<div>
  <h1>Pizza perfotto a la carte</h1>
  <section class="col-md-9">
    <div ng-repeat="pizza in pizzas">
      <div class="row">
        <div class="col-md-4">{{ pizza.name }}</div>
        <div class="col-md-1">{{ pizza.price }}$</div>
        <div class="col-md-3">
          <span ng-click="extractFromBasket(pizza)" class="btn btn-link">substract</span>|<span ng-click="addToBasket(pizza)" class="btn btn-link">add</span>
        </div>
        <div class="col-md-1">{{ getPizzaCountFromBasket(pizza) }}</div>
      </div>
    </div>
  </section>
  <section class="col-md-3">
      <div ng-include="'/views/basket.html'" ng-controller="BasketCtrl" ng-init="isEditable = true;"></div>
      <button ng-click="checkout()" class="btn btn-default">checkout</button>
  </section>

</div>
