<div>
  <h4>Basket</h4>
  <div ng-repeat="basketItem in basket.items">
    <div class="row">
      <div class="col-md-6">{{ basketItem.pizza.name }}</div>
      <div class="col-md-1">{{ basketItem.count }}</div>
      <div class="col-md-1">{{ basketItem.price }}$</div>
      <div class="col-md-2" ng-show="isEditable">
        <span class="btn btn-link" ng-click="removeItemFromBasket(basketItem)">delete</span>
      </div>
    </div>
  </div>
  </div><strong>Total price: {{ basket.price }}$<strong></div>
</div>
