<h1>Layers</h1>
<div>
  <section class="col-md-9">
    <div ng-repeat="pizza in basePizzas">
      <div class="row">
        <div class="col-md-4">{{ pizza.name }}</div>
        <div class="col-md-1">{{ pizza.price }}$</div>
        <div class="col-md-3">
          <span ng-click="addItemAndNavigateToCheckout(pizza)" class="btn btn-link">proceed</span>
        </div>
        <div class="col-md-1">{{ getPizzaCountFromBasket(pizza) }}</div>
      </div>
    </div>
  </section>
  <section class="col-md-3">
    <div ng-include="'/views/basket.html'" ng-controller="BasketCtrl" ng-init="isEditable = true;"></div>
  </section>
</div>


